* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --work-width: 800px;
    --bodyBackground: rgb(219, 239, 245);
    --headerBackground: rgba(90, 151, 151, 0.911);
    --linkGlow: inset 0px 0px 8px rgb(252, 132, 132), 0 0 15px rgb(255, 162, 162);
    --boxShadow: 1px 2px 2px 0px black;
    --border: 2px solid black;
    --headerSeparator: 2px solid rgb(107, 68, 45);

}

body {
    background-color: var(--bodyBackground);
}

#top {
    background-color: var(--headerBackground);
    height: 60px;
}

h1 {
    display: flex;
    background-color: var(--bodyBackground);
    position: absolute;
    box-shadow: var(--boxShadow);
    justify-content: center;
    margin-top: 6px;
    padding: 0px 15px 0px 15px;
    margin-left: 10px;
    float: left;
    font-style: italic;
    font-size: 40px;
}

main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    min-width: 667px;
}

#directory {
    display: flex;
    justify-content: end;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 1em;
    max-width: 1600px;
    width: 100%;
}

ul li {
    margin: 0px 10px;
    font-size: 20px;
}

#portrait {
    height: 60px;
    margin-top: -16px;
}

#banner {
    height: 125px;
    width: 100%;
    border-top: var(var(--border));
    border-bottom: var(var(--border));
    margin-bottom: 12px;
}

/* Following side header code taken from aside explanation at 
https://www.w3schools.com/html/html5_semantic_elements.asp */
.side-header {
    width: 180px;
    padding-left: 15px;
    margin-left: 15px;
    font-size: larger;
    float: left;
    font-style: italic;
    text-align: right;
    padding-right: 8px;
    border-right: var(--headerSeparator);
    margin-right: -2px;
}

p {
    margin-top: 5px;
    margin-left: 218px;
    text-indent: 20px;
    border-left: var(--headerSeparator);
    padding: 0 0 0 10px;
    line-height: 1.7;
}

a {
    text-decoration: underline;
    color: black;
}

#work-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0 0 20px;
    justify-content: space-around;
    border-left: var(--headerSeparator);
    padding: 0 0 0 10px;
}

#large-link {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#small-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: var(--work-width);
}

#primary-work {
    border: var(--border);
    border-radius: 8px;
    box-shadow: var(--boxShadow);
    height: 40vh;
    width: var(--work-width);
}

#primary-work:hover {
    box-shadow: var(--linkGlow);
}

.secondary-works {
    width: 391px;
    height: 170px;
    border: var(--border);
    border-radius: 8px;
    box-shadow: var(--boxShadow);
    margin-bottom: 10px
}

.secondary-works:hover {
    box-shadow: var(--linkGlow)
}

#contact-me {
    margin-top: 45px;
}

#contact-me div {
    display: flex;
}

#contact-info {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

.image-container {
    position: relative;
    height: fit-content;
}

#primary-image-title-box {
    position: absolute;
    left: 150px;
    bottom: 4px;
    background-color: var(--headerBackground);
    padding: 0.3em;
    border: var(--border);
    border-radius: 5px;
}

.image-title-box {
    position: absolute;
    left: 94px;
    bottom: 14px;
    background-color: var(--headerBackground);
    padding: 0.3em;
    border: var(--border);
    border-radius: 5px;
}

@media screen and (max-width: 1033px) {
    .side-header {
        width: fit-content;
        padding-left: 15px;
        margin-left: 15px;
        font-size: larger;
        float: none;
        font-style: italic;
        text-align: start;
        padding-right: 8px;
        border-right: none;
        margin-right: -2px;
        border-bottom: var(--headerSeparator);
    }

    p {
        margin-top: 5px;
        text-indent: 20px;
        border-left: none;
        padding: 0 0 0 10px;
        margin: 15px 50px 20px 50px;
        line-height: 1.5;
    }

    #work-links {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 5px 0 0 5px;
        justify-content: space-around;
        border-left: none;
        padding: 0 0 0 10px;
    }

    #contact-info {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0;
        margin-top: 15px;
    }
}

@media screen and (max-width: 829px) {
    #primary-work {
        width: 391px;
        height: 170px;
        border: var(--border);
        border-radius: 8px;
        box-shadow: var(--boxShadow);
        margin-bottom: 10px
    }

    #small-links {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        width: auto;
    }

    #primary-image-title-box {
        position: absolute;
        left: 94px;
        bottom: 14px;
        background-color: var(--headerBackground);
        padding: 0.3em;
        border: var(--border);
        border-radius: 5px;
    }
}