* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#banner {
    height: 125px;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 1em;
}


ul li {
    margin: 0px 10px;
    font-size: 20px;
}

#top {
    background-color: rgba(90, 151, 151, 0.397);
    height: 60px;
}

#top h1 {
    display: flex;
    background-color: white;
    position: absolute;
    box-shadow: 0px 2px 2px 0px black;
    transform: rotate(2deg);
    justify-content: center;
    margin-top: 6px;
}

h1 {
    padding: 0px 15px 0px 15px;
    margin-left: 10px;
    float: left;
    font-style: italic;
    font-size: 35px;
}

/* Following side header code taken from aside explanation at 
https://www.w3schools.com/html/html5_semantic_elements.asp */
.side-header {
    width: 180px;
    padding-left: 15px;
    margin-left: 15px;
    float: left;
    font-style: italic;
    text-align: right;
    padding-right: 8px;
    border-right: 2px solid brown;
    margin-right: 8px;
}

p {
    margin-top: 5px;
    text-indent: 20px;
}

a {
    text-decoration: none;
    color: black;
}

#work-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0 0 20px;
}

#primary-work {
    width: 500px;
    border: 3px solid black;
    border-radius: 8px;
    max-height: 700px;
}

.secondary-works {
    width: 250px;
    border: 3px solid black;
    border-radius: 8px;

}

#contact-me {
    margin-top: 45px;
}

#contact-info {
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
}

.image-container {
    position: relative;
    height: fit-content;
}

#primary-image-title-box {
    position: absolute;
    left: 150px;
    bottom: 4px;
    background-color: rgba(90, 151, 151, 0.397);
    color: black;
    padding: 0.3em;
    border: 2px solid black;
    border-radius: 5px;
}

.image-title-box {
    position: absolute;
    left: 45px;
    bottom: 4px;
    background-color: rgba(90, 151, 151, 0.397);
    color: black;
    padding: 0.3em;
    border: 2px solid black;
    border-radius: 5px;
}